<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <meta charset="UTF-8">
    <title>PreAcademic Info</title>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragments/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragments/timeline.css}">
    <link rel="stylesheet" th:href="@{/css/professor/timeline.css}">
    <script th:src="@{/dependencies/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/fragments/lang-picker.js}"></script>
    <script th:src="@{/js/fragments/timeline.js}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"
            integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="fragments/header :: header(true)"></div>
<div id="div_filters">
    <div>
        <label th:text="|#{timeline.filter.group}:|" for="combo_groupCode"></label>
        <select id="combo_groupCode" th:with="groups=${teaching.getAllGroups()}">
            <option th:each="group : ${groups}" th:text="${group.code}" th:value="${group.code}"
                    th:selected="${group.code == crtGroupCode}"></option>
        </select>
    </div>
    <div>
        <input type="checkbox" id="check_excludePassingGrade"/>
        <label for="check_excludePassingGrade" th:text="#{timeline.filter.excludePassingGrade}"></label>
    </div>
    <div>
        <input type="checkbox" id="check_excludePassingAttendances"/>
        <label for="check_excludePassingGrade" th:text="#{timeline.filter.excludePassingAttendances}"></label>
    </div>
</div>
<div class="timeline" id="timeline">
    <table>
        <tr th:replace="/fragments/timeline :: t-head-row (${enrollments[0]}, ${teaching}, ${crtGroupCode}, ${teachingHandler})"></tr>
        <tbody>
        <th:block th:each="enrl : ${enrollments}">
            <tr th:replace="/fragments/timeline :: t-data-row (${enrl}, ${teaching}, ${crtGroupCode}, ${teachingHandler})"></tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>