.professor-course{
    background-color: var(--color4);
    border-radius: 10px;
    padding: 30px;
}

.professor-course h4{
    margin: 0px;
    word-wrap: break-word;
    display: inline-block;
    width: 80%;
}

.professor-course-header{
    border-bottom: 2px solid;
    overflow: hidden;
}

.professor-course-body{
    padding: 10px 0px;
    display: flex;
    flex-wrap: wrap;
}

.professor-course-body > *{
    margin: 10px;
}

.professor-course .group{
    text-decoration: none;
    background-color: var(--color2-ultralight);
    border: 1px solid var(--color4-dark);
    padding: 10px;
}

.professor-course .group:hover{
    background-color: var(--color1-light);
}