<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <meta charset="UTF-8">
    <title>courses</title>
</head>
<body>

<a th:fragment="group (group, course)" class="group"
   th:href="|/professor/timeline?course=${course.code}&group=${group.code}|">
    <th:block th:switch="${group.code}">
        <th:block th:case="0" th:text="#{timeline.filter.extensionGroup}"></th:block>
        <th:block th:case="*" th:text="${group.code}"></th:block>
    </th:block>
</a>

<div th:fragment="course-settings-modal (domId, crtLessonsTemplateList)" class="course-settings-modal modal-box"
     th:id="${domId}">
    <div class="modal-window">
        <i class="modal-close fas fa-times"></i>
        <div class="modal-header">
            <h3 th:text="#{settings}"></h3>
        </div>
        <div class="modal-body">
            <h3 th:text="#{courseSettings.defineNrOfPartialExams}"></h3>
            <hr>
            <label th:text="#{courseSettings.nrOfSeminarPartials}" for="spinner_nrOfSeminarPartialExams"></label>
            <input type="number" min="0" max="14" id="spinner_nrOfSeminarPartialExams"
                   th:value="${viewHelper.getNrOfLessonsOfType(crtLessonsTemplateList, 'PARTIAL_EXAM_SEMINAR')}">
            <label th:text="#{courseSettings.nrOfLaboratoryPartials}" for="spinner_nrOfLaboratoryPartialExams"></label>
            <input type="number" min="0" max="14" id="spinner_nrOfLaboratoryPartialExams"
                   th:value="${viewHelper.getNrOfLessonsOfType(crtLessonsTemplateList, 'PARTIAL_EXAM_LABORATORY')}">
            <label th:text="#{courseSettings.nrOfCoursePartials}" for="spinner_nrOfCoursePartialExams"></label>
            <input type="number" min="0" max="14" id="spinner_nrOfCoursePartialExams"
                   th:value="${viewHelper.getNrOfLessonsOfType(crtLessonsTemplateList, 'PARTIAL_EXAM_COURSE')}">
            <h3 th:text="#{courseSettings.defineWeights}"></h3>
            <hr>
            <p th:text="#{courseSettings.zeroWeightMeansNoGrade}" class="footnote"></p>
            <th:block th:each="lesson : crtLessonsTemplateList">
                <div th:switch="${lesson.type.toString()}" class="lesson-weight" th:id="|lesson-${lesson.id}|">
                    <th:block th:case="'LABORATORY'">
                        <label th:text="|#{timeline.head.laboratory} ${lesson.nr}|"></label>
                    </th:block>
                    <th:block th:case="'PARTIAL_EXAM_SEMINAR'">
                        <label th:text="|#{timeline.head.partial} #{timeline.head.seminar} ${lesson.nr}|"></label>
                    </th:block>
                    <th:block th:case="'PARTIAL_EXAM_LABORATORY'">
                        <label th:text="|#{timeline.head.partial} #{timeline.head.laboratory} ${lesson.nr}|"></label>
                    </th:block>
                    <th:block th:case="'PARTIAL_EXAM_COURSE'">
                        <label th:text="|#{timeline.head.partial} #{timeline.head.course} ${lesson.nr}|"></label>
                    </th:block>
                    <input type="number" min="0" max="100" step="0.1" class="lesson-weight">
                </div>
            </th:block>
        </div>
        <div class="modal-footer">
            <input type="button" class="modal-close" th:value="#{action.discardChanges}">
            <input type="button" th:value="#{action.saveChanges}">
        </div>
    </div>
</div>

<div th:fragment="professor-course (professorCourse)" class="professor-course" th:object="${professorCourse}">
    <div class="professor-course-header">
        <h4 th:text="*{course.name}"></h4>
    </div>
    <div class="professor-course-body">
        <th:block th:each="group : *{groups}">
            <div th:replace="this :: group(${group}, *{course})"></div>
        </th:block>
    </div>
    <div class="professor-course-footer" th:if="*{lessons != null}">
        <i class="fas fa-cog"></i>
        <div th:replace="this :: course-settings-modal (*{'course_settings_modal-' + course.id}, *{lessons})"></div>
    </div>
</div>

</body>
</html>