<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <meta charset="UTF-8">
    <title>courses</title>
</head>
<body>

<a th:fragment="group (group, course)" class="group"
   th:href="|/professor/timeline?course=${course.code}&group=${group.code}|">
    <th:block th:switch="${group.code}">
        <th:block th:case="0" th:text="#{timeline.filter.extensionGroup}"></th:block>
        <th:block th:case="*" th:text="${group.code}"></th:block>
    </th:block>
</a>

<div th:fragment="professor-course (professorCourse)" class="professor-course">
    <div class="professor-course-header">
        <h4 th:text="${professorCourse.course.name}"></h4>
    </div>
    <div class="professor-course-body">
        <th:block th:each="group : ${professorCourse.groups}">
            <div th:replace="this :: group(${group}, ${professorCourse.course})"></div>
        </th:block>
    </div>
</div>

</body>
</html>