<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <meta charset="UTF-8">
    <title>modals</title>
</head>
<body>

<div th:fragment="response-modal (domId, success, msg)" class="response-modal modal-box" th:id="${domId}">
    <div class="modal-window">
        <i class="modal-close fas fa-times"></i>
        <div class="modal-header">
        </div>
        <div class="modal-body" th:text="${msg}"
             th:classappend="${success==null} ? '' : (${success} ? 'ok' : 'err')"></div>
        <div class="modal-footer">
            <input type="button" class="modal-close" value="OK"
                   th:classappend="${success==null} ? '' : (${success} ? 'ok' : 'err')">
        </div>
    </div>
</div>


</body>
</html>