<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
</head>
<body>

<td th:fragment="photo-cell (url)" class="photo-cell">
    <th:block th:switch="${url}">
        <i th:case="null" class="photo-cell fas fa-user-circle"></i>
        <img th:case="*" th:src="${url}" width="20" height="20" class="photo-cell">
    </th:block>
</td>

<td th:fragment="name-cell (student)" class="name-cell" th:object="${student}"
    th:text="|*{lastName} *{fathersInitials} *{firstName}|">
</td>


<td th:fragment="lesson-cell (lesson)" class="lesson-cell" th:id="|lessonCell-${lesson.id}|"
    th:with="writable=${lesson.template.getRightType().toString() == 'WRITE'}"
    th:switch="${lesson.template.type.toString()}">
    <th:block th:case="'SEMINAR'">
        <th:block th:switch="${writable}">
            <th:block th:case="${true}">
                <input type="checkbox" th:checked="${lesson.attended}" class="attendance-field">
                <input type="number" th:value="${lesson.bonus}" th:placeholder="#{timeline.head.bonus}" min="-10"
                       max="10" class="bonus-field">
            </th:block>
            <th:block th:case="*">
                <input type="checkbox" th:checked="${lesson.attended}" disabled class="attendance-field">
                <input type="number" th:value="${lesson.bonus}" min="-10" max="10" disabled class="bonus-field">
            </th:block>
        </th:block>
    </th:block>
    <th:block th:case="'LABORATORY'">
        <th:block th:switch="${writable}">
            <th:block th:case="${true}">
                <input type="checkbox" th:checked="${lesson.attended}" class="attendance-field">
                <input type="number" th:value="${lesson.grade}" min="0" max="10" th:placeholder="#{timeline.head.grade}"
                       th:if="${lesson.template.weight > 0}" class="grade-field">
                <input type="number" th:value="${lesson.bonus}" th:placeholder="#{timeline.head.bonus}" min="-10"
                       max="10" class="bonus-field">
            </th:block>
            <th:block th:case="*">
                <input type="checkbox" th:checked="${lesson.attended}" disabled class="attendance-field">
                <input type="number" th:value="${lesson.grade}" min="0" max="10" disabled
                       th:if="${lesson.template.weight > 0}" class="grade-field">
                <input type="number" th:value="${lesson.bonus}" min="-10" max="10" disabled class="bonus-field">
            </th:block>
        </th:block>
    </th:block>
    <th:block th:case="*">
        <th:block th:switch="${writable}">
            <th:block th:case="${true}">
                <input type="number" th:value="${lesson.grade}" th:placeholder="#{timeline.head.grade}" min="0" max="10"
                       th:if="${lesson.template.weight > 0}" class="grade-field">
            </th:block>
            <th:block th:case="*">
                <input type="number" th:value="${lesson.grade}" min="0" max="10" disabled
                       th:if="${lesson.template.weight > 0}" class="grade-field">
            </th:block>
        </th:block>
    </th:block>
</td>

<td th:fragment="bonus-cell (enrollment)" class="bonus-cell">
</td>


<td th:fragment="attendances-cell (enrollment)" class="attendances-cell">
</td>


<td th:fragment="average-cell (enrollment)" class="average-cell">
</td>


<thead th:fragment="t-head-row (enrollmentTemplate, viewHelper)">
<tr>
    <th th:text="#{timeline.head.profilePhotoThumb}" class="photo-cell"></th>
    <th th:text="#{timeline.head.fullName}" class="name-cell"></th>
    <th:block th:each="lesson : ${enrollmentTemplate.lessons}">
        <th:block th:object="${lesson}" th:switch="*{template.type.toString()}">
            <th th:case="'SEMINAR'" class="lesson-cell"
                th:text="|#{timeline.head.seminar} *{template.nr} (#{timeline.head.attendance}/#{timeline.head.bonus})|">
            </th>
            <th:block th:case="'LABORATORY'">
                <th:block th:switch="*{template.weight > 0}">
                    <th th:case="${true}" class="lesson-cell"
                        th:text="|#{timeline.head.laboratory} *{template.nr} (#{timeline.head.attendance}/#{timeline.head.grade}/#{timeline.head.bonus})|">
                    </th>
                    <th th:case="${false}" class="lesson-cell"
                        th:text="|#{timeline.head.laboratory} *{template.nr} (#{timeline.head.attendance}/#{timeline.head.bonus})|">
                    </th>
                </th:block>
            </th:block>
            <th th:case="'PARTIAL_EXAM_SEMINAR'" class="lesson-cell"
                th:text="|#{timeline.head.partial} #{timeline.head.seminar} *{template.nr}|">
            </th>
            <th th:case="'PARTIAL_EXAM_LABORATORY'" class="lesson-cell"
                th:text="|#{timeline.head.partial} #{timeline.head.laboratory} *{template.nr}|">
            </th>
            <th th:case="'PARTIAL_EXAM_COURSE'" class="lesson-cell"
                th:text="|#{timeline.head.partial} #{timeline.head.course} *{template.nr}|">
            </th>
        </th:block>
    </th:block>
    <th class="bonus-cell" th:text="#{timeline.head.bonus}"></th>
    <th class="attendances-cell" th:text="#{timeline.head.totalAttendances}"></th>
    <th class="average-cell" th:text="#{timeline.head.averageGrade}"
        th:if="${viewHelper.shouldRenderAverageCell(enrollmentTemplate)}"></th>
</tr>
</thead>


<tr th:fragment="t-data-row (enrollment, viewHelper)" th:object="${enrollment}"
    th:id="|enrollmentRow-${enrollment.id}|" class="enrollment-row">
    <td th:replace="this :: photo-cell (*{student.pathToProfilePhoto})"></td>
    <td th:replace="this :: name-cell (*{student})"></td>
    <th:block th:each="lesson : *{lessons}">
        <td th:replace="this :: lesson-cell(${lesson})"></td>
    </th:block>
    <td th:replace="this :: bonus-cell (${enrollment})"></td>
    <td th:replace="this :: attendances-cell (${enrollment})"></td>
    <th:block th:if="${viewHelper.shouldRenderAverageCell(enrollment)}">
        <td th:replace="this :: average-cell (${enrollment})"></td>
    </th:block>
</tr>

</body>
</html>