<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
</head>
<body>


<td th:fragment="name-cell (course)" class="name-cell" th:object="${course}"
    th:text="${course.name}">
</td>

<td th:fragment="lesson-cell (lesson)" class="lesson-cell" th:id="|lessonCell-${lesson?.id}|">
    <th:block th:if="${lesson!=null}">
        <input type="checkbox" th:checked="${lesson.attended}" disabled class="attendance-field">
        <input type="number" th:value="${lesson.grade}" th:placeholder="#{timeline.head.grade}" disabled class="grade-field">
        <input type="number" th:value="${lesson.bonus}" th:placeholder="#{timeline.head.bonus}" disabled class="bonus-field">
    </th:block>
</td>


<td th:fragment="exam-cell (exam)" class="exam-cell" th:id="|examCell-${exam?.id}|">
    <th:block th:if="${exam!=null}">
        <input type="number" th:value="${exam.grade}" th:placeholder="#{timeline.head.grade}" disabled class="grade-field">
    </th:block>
</td>


<td th:fragment="bonus-cell (enrollment)" class="bonus-cell">
</td>


<td th:fragment="attendances-cell (enrollment)" class="attendances-cell">
</td>


<td th:fragment="average-cell (enrollment)" class="average-cell">
</td>


<thead th:fragment="t-head-row (lessonsTemplateSet, partialExamsTemplateSet)">
<tr>
    <th th:text="#{timeline.head.courseName}" class="name-cell"></th>
    <th:block th:each="lesson : ${lessonsTemplateSet}">
        <th:block th:switch="${lesson.type.toString()}">
            <th th:case="'SEMINAR'" class="lesson-cell"
                th:text="|#{timeline.head.seminar} ${lesson.nr} (#{timeline.head.attendance}/#{timeline.head.bonus})|">
            </th>
            <th th:case="'LABORATORY'" class="lesson-cell"
                th:text="|#{timeline.head.laboratory} ${lesson.nr} (#{timeline.head.attendance}/#{timeline.head.grade}/#{timeline.head.bonus})|">
            </th>
        </th:block>
    </th:block>
    <th:block th:each="partial : ${partialExamsTemplateSet}">
        <th:block th:switch="${partial.type.toString()}">
            <th th:case="'SEMINAR'" class="exam-cell"
                th:text="|#{timeline.head.partial} #{timeline.head.seminar} ${partial.nr}|">
            </th>
            <th th:case="'LABORATORY'" class="exam-cell"
                th:text="|#{timeline.head.partial} #{timeline.head.laboratory} ${partial.nr}|">
            </th>
            <th th:case="'COURSE'" class="exam-cell"
                th:text="|#{timeline.head.partial} #{timeline.head.course} ${partial.nr}|">
            </th>
        </th:block>
    </th:block>
    <th class="bonus-cell" th:text="#{timeline.head.bonus}"></th>
    <th class="attendances-cell" th:text="#{timeline.head.totalAttendances}"></th>
    <th class="average-cell" th:text="#{timeline.head.averageGrade}"></th>
</tr>
</thead>

<tr th:fragment="t-data-row(enrollment,lessonsTemplateSet, partialExamsTemplateSet, templateListUtils)" th:object="${enrollment}"
    th:id="|enrollmentRow-${enrollment.id}|" class="enrollment-row">
    <td th:replace="this :: name-cell (*{course})">
    </td>
    <th:block th:each="lesson : ${lessonsTemplateSet}"
              th:with="goodLesson=${templateListUtils.getRealLessonFromTemplate(enrollment.lessons, lesson)}">
        <td th:replace="this :: lesson-cell(${goodLesson})"></td>
    </th:block>
    <th:block th:each="exam : ${partialExamsTemplateSet}"
              th:with="goodExam=${templateListUtils.getRealPartialExamFromTemplate(enrollment.partialExams, exam)}">
        <td th:replace="this :: exam-cell(${goodExam})"></td>
    </th:block>
    <td th:replace="this :: bonus-cell (${enrollment})"></td>
    <td th:replace="this :: attendances-cell (${enrollment})"></td>
    <th:block>
        <td th:replace="this :: average-cell (${enrollment})"></td>
    </th:block>
</tr>

</body>
</html>