<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
</head>
<body>

<td th:fragment="photo-cell (url)" class="photo-cell">
    <th:block th:switch="${url}">
        <i th:case="null" class="photo-cell fas fa-user-circle"></i>
        <img th:case="*" th:src="${url}" width="20" height="20" class="photo-cell">
    </th:block>
</td>


<td th:fragment="name-cell (student)" class="name-cell" th:object="${student}"
    th:text="|*{lastName} *{fathersInitials} *{firstName}|">
</td>


<td th:fragment="lesson-cell (lesson)" class="lesson-cell">
    <div class="lesson-cell">
        <input type="checkbox" th:checked="${lesson.attended}">
        <input type="text" th:value="${lesson.grade}" th:if="${lesson.type.toString()=='LABORATORY'}"
               th:placeholder="#{timeline.head.grade}">
        <input type="number" th:value="${lesson.nrOfBonusPoints}" th:placeholder="#{timeline.head.bonus}">
    </div>
</td>


<td th:fragment="exam-cell (grade)" class="exam-cell">
    <div class="exam-cell">
        <input type="text" th:value="__${grade}__" th:placeholder="#{timeline.head.grade}">
    </div>
</td>


<td th:fragment="bonus-cell (enrollment)" class="bonus-cell" th:text="${enrollment.getTotalBonus()}">
</td>


<td th:fragment="attendances-cell (enrollment)" class="attendances-cell"
    th:with="semAtt=${enrollment.getSeminarAttendance()}, labAtt=${enrollment.getLaboratoryAttendance()}"
    th:text="|${#numbers.formatDecimal(semAtt,1,2)}% / ${#numbers.formatDecimal(labAtt,1,2)}%|"
    th:classappend="${enrollment.hasMinimumAttendance()} ? '' : 'err'">
</td>


<td th:fragment="average-cell (enrollment)" class="average-cell"
    th:with="avg=${enrollment.getAverageGrade()}"
    th:text="${#numbers.formatDecimal(avg,1,2)}"
    th:classappend="${enrollment.hasMinimumGrade()} ? '' : 'err'">
</td>


<thead th:fragment="t-head-row (enrollmentTemplate)">
<tr>
    <th th:text="#{timeline.head.profilePhotoThumb}" class="photo-cell"></th>
    <th th:text="#{timeline.head.fullName}" class="name-cell"></th>
    <th:block th:each="lesson : ${enrollmentTemplate.lessons}">
        <th:block th:switch="${lesson.type.toString()}">
            <th th:case="'SEMINAR'" class="lesson-cell"
                th:text="|#{timeline.head.seminar} ${lesson.nr} (#{timeline.head.attendance}/#{timeline.head.bonus})|">
            </th>
            <th th:case="'LABORATORY'" class="lesson-cell"
                th:text="|#{timeline.head.laboratory} ${lesson.nr} (#{timeline.head.attendance}/#{timeline.head.grade}/#{timeline.head.bonus})|">
            </th>
        </th:block>
    </th:block>
    <th:block th:each="partial : ${enrollmentTemplate.partialExams}">
        <th:block th:switch="${partial.type.toString()}">
            <th th:case="'SEMINAR'" class="exam-cell"
                th:text="|#{timeline.head.partial} #{timeline.head.seminar} ${partial.nr}|"
            </th>
            <th th:case="'LABORATORY'" class="exam-cell"
                th:text="|#{timeline.head.partial} #{timeline.head.laboratory} ${partial.nr}|">
            </th>
            <th th:case="'COURSE'" class="exam-cell"
                th:text="|#{timeline.head.partial} #{timeline.head.course} ${partial.nr}|">
            </th>
        </th:block>
    </th:block>
    <th class="bonus-cell" th:text="#{timeline.head.bonus}"></th>
    <th class="attendances-cell" th:text="#{timeline.head.totalAttendances}"></th>
    <th class="average-cell" th:text="#{timeline.head.averageGrade}"></th>
</tr>
</thead>


<tr th:fragment="t-data-row (enrollment)" th:object="${enrollment}">
    <td th:replace="this :: photo-cell (*{student.pathToProfilePhoto})"></td>
    <td th:replace="this :: name-cell (*{student})"></td>
    <th:block th:each="lesson : *{lessons}">
        <td th:replace="this :: lesson-cell(${lesson})"></td>
    </th:block>
    <th:block th:each="partial : *{partialExams}">
        <td th:replace="this :: exam-cell(${partial.grade})"></td>
    </th:block>
    <td th:replace="this :: bonus-cell (${enrollment})"></td>
    <td th:replace="this :: attendances-cell (${enrollment})"></td>
    <td th:replace="this :: average-cell (${enrollment})"></td>
</tr>

</body>
</html>