#panel_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    min-height: 450px;
}

#panel_main > span.err {
    margin-bottom: 40px;
}

#form_login {
    display: inline-grid;
    position: relative;
    border: 1px solid;
    width: 600px;
    grid-template-columns: 33% 33% 33%;
    grid-row-gap: 10px;
    background-color: var(--color1);
    padding: 10px 40px 40px;
}

#img_logo {
    position: absolute;
    top: 30px;
    left: 40px;
}

#heading_loginForm {
    grid-column: 1 / 4;
    grid-row: 1;
    text-align: center;
    color: var(--color0-light);
}

#form_login label {
    grid-column: 1;
    color: var(--color0-light);
}

#form_login input {
    grid-column: 2 / 4;
    border-color: var(--color4);
    border-style: solid;
    border-width: 2px;
}

#form_login input[type=text], #form_login input[type=password] {
    background-color: var(--color0-light);
}

#form_login input[type=submit] {
    grid-column: 3;
    border-width: 1px;
    border-color: var(--color0-dark);
    background-color: var(--color4);
    color: var(--color0-dark);
}

#form_login input[type=submit]:hover {
    cursor: pointer;
    background-color: var(--color4-light);
}

#form_login div.err {
    grid-column: 2 / 4;
    color: var(--color2-dark);
}